body {
  color: rgb(81, 121, 196) !important ;
  /* background-color: aliceblue !important; */
}

.todo-item {
  border: 1px solid rgb(134, 164, 219);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}
.todo-content {
  padding: 1em;
}
.add-item-row {
  margin-top: 50px !important;
  margin-bottom: 30px;
}
.input-box {
  padding: 10px;
  width: 100%;
  border: 1px solid rgb(134, 164, 219);
  border-radius: 4px;
}
.input-box:focus {
  outline: none;
}
.button-add {
  height: 40px;
  width: 100%;
  border: none;
  background-color: rgb(134, 164, 219);
  color: white;
  border-radius: 4px;
}
.button-add:hover {
  background-color: white;
  color: rgb(88, 121, 180);
  border: 2px solid rgb(134, 164, 219);
}
.button-delete {
  background-color: white;
  border: 2px solid rgb(134, 164, 219);
  color: rgb(134, 164, 219);
  margin: 10px;
  border-radius: 4px;
}
.button-delete:hover {
  background-color: rgb(134, 164, 219);
  color: white;
}

.item-complete {
  text-decoration: line-through;
  background-color: rgb(217, 222, 233);
}
.todo-title {
  font-weight: bold;
}
