body {
  color: lightblue !important ;
  background-color: aliceblue !important;
}

.todo-item {
  border: 1px solid lightblue;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}
.todo-content {
  padding: 1em;
}
.add-item-row {
  margin-top: 50px !important;
  margin-bottom: 30px;
}
.input-box {
  padding: 10px;
  width: 100%;
  border: 1px solid lightblue;
  border-radius: 4px;
}
.input-box:focus {
  outline: none;
}
.button-add {
  height: 40px;
  width: 100%;
  border: none;
  background-color: lightblue;
  color: white;
  border-radius: 4px;
}
.button-add:hover {
  background-color: white;
  color: lightblue;
  border: 2px solid lightblue;
}
.button-delete {
  background-color: white;
  border: 2px solid lightblue;
  color: lightblue;
  margin: 10px;
  border-radius: 4px;
}
.button-delete:hover {
  background-color: lightblue;
  color: #ffffff;
}

.item-complete {
  /* background-color: gainsboro; */
  text-decoration: line-through;
  /* color:white; */
  background-color: aliceblue;
}
.todo-title {
  font-weight: bold;
}
